/* reset Css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}
.clear{
    clear: both;
}
.text-white{
    color: #ccc !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: 33.33333%;
}
.text-center{
    text-align: center !important;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.mt-8{
    margin-top: 8px !important; 
}
.mt-16{
    margin-top: 16px !important; 
}
#main8{

}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
    z-index: 1;
}
#nav{
   display: inline-block;
}
#nav,.subnav  {
list-style: none;
} 
#nav > li{
    display: inline-block;
}
#nav li{
position: relative;
}
#nav > li > a{
    color: #fff;
    text-transform:uppercase ;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
    
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav li:hover a,
#nav> li:hover> a{
    color: black;
    background-color: #ccc; 

}
#nav .subnav{
    min-width: 160px;
     display: none ; 
    background-color: #fff;
    position: absolute;
    box-shadow: 0 0 10px rgb(0, 0, 2) ;
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#header .molbie-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .molbie-menu-btn{
    background-color: #ccc;

}
#header.search-btn:hover {
    background-color: #f44336;
    cursor: pointer;

}
#header .molbie-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;

}
#header .molbie-menu-btn:hover{
    color: #000;
    background-color: #ccc;
}
#header .molbie-menu-btn:hover .menu-icon{
    color: #000;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;

}
#slider{
    /* min-height: 500px;
    background-color: #ccc; */
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background:url('../img/siler/siler1.jpg') top center /cover no-repeat;
}
#slider .text-content{
position: absolute;
bottom: 47px;
/* left: 50%;
transform: translateX(-50%); */
text-align: center;
width: 100%;
}
#slider .text-healding{
    font-weight: 500;
font-size: 24px;
}
#slider .text-desription{
    font-size: 15px;
    margin-top: 25px;

}

#content{

}
#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

}
#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    text-align: center;
    font-style: italic;
    font-size: 15px;
    opacity: 0.6;


}
#content .about-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .members-list{
    margin-top: 48px;
}
#content .members-name{
    font-size: 15px;
    
}
#content .members-img{
    margin-top: 25px;
    width: 154px;
    border-radius: 5px;
}
.tour-section{
    background-color: #000;
}
.tickets-list{
    list-style: 5;
    background-color:#fff;
    margin-top: 40px
}
.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .Sold-out{
    background-color: #f44336;
    padding: 3px 4px;
    color: #ccc;
    margin-left: 16px;


}
.tickets-list .Quantily{
    background-color: #000;
    float: right;
    width: 24px;
    height: 24px;
    color: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top:  -3px;
}
.places-list{
    margin-top: 16px px;
    margin-bottom: 48px;

}
.place-img{
 width: 100%;
 display: block;

}
.place-img:hover{
    opacity: 0.6;
    
}
.place-body{
background-color: #fff;
padding: 16px;
font-size: 15px;

}
.place-heading{

    font-size: 15px;
    font-weight: 600 ;
}
.place-time{
    margin-top: 15px;
    color: #757575;;

}
.place-desc{
margin-top: 15px;
line-height: 1.4;
}
.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 6px;
    display: inline-block;
    margin-top: 15px;
}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}

#footer{
    
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;

}
.modal.open{
    display: flex;
}
.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(00%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close:hover {
    opacity: 1;
}
.modal-close {
    position: absolute;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets:hover{
    opacity: 0.9;  
}
#buy-tickets {
    WIDTH: 100%;
    background: #009688;
    color: #fff;
    padding: 18px;
    border: none;
    text-transform: uppercase;
}
.modal-footer{
    paddimoblieng: 16px;
    text-align: right;
}
.modal-footer a{
    color: aqua;
}
.contact-content {
    margin-top: 46px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i [class*="ti-"] {
    width: 30px;
    display: inline-block;

}
.contact-form{
    font-size: 15px;
}
.form-control{
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;

}
.form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 12px 16px;
    float: right;
}
.map-section img{
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.3);
}
#footer .copyright{
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.6);
}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


