*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style: none;
}
html{
    font-size: 20px;
}
.d-flex{
    display: flex;
}
.w-25{
    width: 23%;
}
.w-100{
    width: 100%;
}
.justufy-between{
    justify-content: center;
}
.border-1{
    padding: 1.5rem;
    border: 1px solid #000;
}

