<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Function & Dom</title>
</head>
<body>
    <div>
        <label for="">Username :</label>
        <input type="text" name="Username" id="username">
    </div>
    <div>
        <label for="">Password</label>
        <input type="password" id="password">
    </div>
    <div>
        <button onclick="userInfor()" type="button">Login </button>
    </div>

    <script src="/Lesson08/Js/home.js"></script>
</body>
</html>