*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#nav, .subnav{
    list-style-type: none;
}
nav {
    height: 46px;
    background-color: #000;
}
#nav > li{
    display: inline-block;
} 
#nav li {
    position: relative;
}
#nav .subnav{
    position: absolute;
    background-color: white;
    /* display:none ; */
}
#nav .subnav a{
    color: #000;
    line-height: 40px;


}
#nav > li > a {
    color: white;
    text-transform: uppercase;

}
#nav  li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;

}
#nav .subnav  li :hover {
    color: #000;
    background-color: #ccc;
}