<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Lesson05/Css/main.css">
    <link rel="stylesheet" href="/Lesson05/font/fontawesome-free-6.4.0-web/css/all.min.css">
    <title> Devmaster</title>
</head>
<body>
    <header class="header">
        <div class="header_logo-text">
            <a href="" class="logo_item">
                <img src="https://devmaster.edu.vn/images/logo.png" alt="">
            </a>
            <div class="header_text-menu">
                <p class="title_level-1">VIỆN CÔNG NGHỆ VÀ ĐÀO TẠO DEVMASTER</p>
                <p class="title_level-2">Đào tạo - Phần mềm - Cho thuê nhân sự</p>
            </div>
        </div>

        <div class="header_phone">
            <a href=" tel.0999999999" class="">
                <i class="fa-solid fa-phone header_phone-icon "> 0969.609.033</i>
            </a>
            <a href="tel.0899999999" class="">
                <i class="fa-solid fa-phone header_phone-icon"> 0978.611.889</i>
            </a>
        </div>
    </header>
    <nav id="mainnav">
        <ul id="nav_menu">
            <li><a href="#">TRANG CHỦ</a></li>
            <li><a href="#">CÁC KHÓA ĐÀO TẠO
                <i class=" nav-arrow-icon fa-sharp fa-solid fa-caret-down"></i>
            </a>
        </li>
            <li class=""><a href="#">LẬP TRÌNH CHO TRẺ EM</a></li>
            <li class="menu_sub-item">
                <a href="#"> DỊCH VỤ
                    <i class=" nav-arrow-icon fa-sharp fa-solid fa-caret-down"></i>
                </a>
                <ul class="subnav_menu-1">
                    <li class="subnav_menu--item"><a href="#">Đào tạo theo nhu cầu</a></li>
                    <li class="subnav_menu--item"><a href="#">Cung cấp thiết bị - Phần mềm </a></li>
                    <li class="subnav_menu--item"><a href="#">Tư vấn - Thiết kế mạng hạ tầng </a></li>
                    <li class="subnav_menu--item"><a href="#">Tư vấn - Triển khai dịch vụ mạng</a></li>
                    <li class="subnav_menu--item"><a href="#">Tư vấn - Triển khai,giám sát hệ thống</a></li>
                    <li class="subnav_menu--item"><a href="#">Thực tập dự án</a></li>
                </ul>
            </li>
            <li><a href="#">LỊCH KHAI GIẢNG</a></li>
            <li class="menu_sub-item">
                <a href="#">TIN TỨC
                    <i class=" nav-arrow-icon fa-sharp fa-solid fa-caret-down"></i>
                </a>
                <ul class="subnav_menu-1">
                    <li class="subnav_menu--item"><a href="#">Tin tức và sự kiện</a></li>
                    <li class="subnav_menu--item"><a href="#">Tin hoạt động</a></li>
                    <li class="subnav_menu--item"><a href="#">Tin công nghệ</a></li>
                    <li class="subnav_menu--item"><a href="#">Hội thảo,word shop,Code dame</a></li>
                    <li class="subnav_menu--item"><a href="#">Thông tin việc làm</a></li>
                    <li class="subnav_menu--item"><a href="#">Cẩm nang chia se kiến thức</a></li>
                </ul>
            </li>
            <li><a href="#">TIỆN ÍCH</a></li>
            <li><a href="#">LIÊN HỆ</a></li>
        </ul>
    </nav>
    <div id="slider">

    </div>
    <section>
        <div class="khoahoc">
            <div class="text-header">
                <h3>CÁC KHÓA HỌC 
                    <span style="color: #CA1F25;">CHUYÊN ĐỀ</span>
                </h3>
            </div>
            <div class="khoahoc_list">
                <div class="khoahoc_item">
                    <img src="https://devmaster.edu.vn/uploads/images/course/php.jpg" alt="">
                </div>
                <div class="khoahoc_item">
                    <img src="https://devmaster.edu.vn/uploads/images/course/asp.jpg" alt="">
                </div>
                <div class="khoahoc_item">
                    <img src="https://devmaster.edu.vn/uploads/images/course/csharp.jpg" alt="">
                </div>
                <div class="khoahoc_item">
                    <img src="https://devmaster.edu.vn/uploads/images/course/php.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
</body>
</html>