<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Lesson05/Css/review.css">
    <title>Document</title>
    <link rel="stylesheet" href="/Lesson05/Css/common.css">
</head>
<body>
    <header class="header">
        <div class="header">
            
        </div>
        <nav class="subnav">
            <ul class="menu-level-1 d-flex bg-red ">
                <li class="item-level-1">
                    <a href="#" class="item color-white">Trang Chu</a>
                    <div class="menu-level-2">
                        <ul class="list-level-2">
                            <li class="item-level-2">
                                <a href="#" class="item color-white">HTML</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item color-white">CSS</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item color-white">JS</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item color-white">FONT</a>
                            </li>
                            
                        </ul>
                    </div>
                </li>  
                <li class="item-level-1">
                    <a href="#" class="item color-white">Cac Khoa Dao Tao</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">Lap Trinh Cho Tre Em</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">Dich Vu</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">Lich Khai Giang</a>
                </li>
            </ul>
        </nav>
    </header>

    <section>

    </section>

    <footer>

    </footer>
    
    
</body>
</html>