*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: black;
    text-decoration: none;
}
html{
    font-size: 20px;
}
.d-flex{
    display: flex !important;
    flex-wrap: wrap;
}
.d-desktop-none{
    display: none;
}
.d-desktop-bl{
    display: block;
}
.header{
    position: relative;
}
nav.menu{
    position: fixed;
    width: 80%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;

}

.d-moblie-bl{

}
.jutify-between{
    justify-content: space-between;
}
.w-10{
    width: 10%;
}
.w-15{
    width: 15%;
}
.w-30{
    width: 30%;
}
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}

.menu{
    width: 80%;
    margin: auto;
    align-items: center;
}
.item-link{
    text-transform: uppercase;
    font-size: 0.8rem;
}
.list-item .item {
    padding: 0.75rem 0.5rem;
    position: relative;
}
.list-item .item:hover ::after{
    content: '';
    height: 0.25rem;
    width: 2.5rem;
    position: absolute;
    background-color: green;
    bottom: 0.4rem;
    left: 0.5rem;
} 
.item.active ::after{
    content: '';
    height: 0.25rem;
    width: 2.5rem;
    position: absolute;
    background-color: green;
    bottom: 0.4rem;
    left: 0.5rem;
    display: block;
}
.text-center{
    text-align: center;
}
@media only screen and (max-width :600px) {
    .d-moblie-bl{
            display: block;
    }
    .d-moblie-none{
        display: none !important;
    }
    .memu-left{
        width: 30%;
    }
    .menu-right{
        width: 15%;
    }
    .news-item{
        width: 100% !important;
    }
    .news-page{
        background-size: contain;
        background-repeat: repeat-y;
    }
    
}
