<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Tạo 1 array object 
        3 tỉnh thành
        1 tỉnh thành : tên + 3 quận
                                quận: tên + 3 phường
                                            phường: phường
    -->

    <!-- sử dụng thư viện Jquery 
        ứng dụng => triển khai page (biến, toán tử, vòng lặp, array, object)
    -->
    <script src="../JS/review.js"></script>
</body>
</html>