<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Lesson06/Css/layout.css">
    <link rel="stylesheet" href="/Lesson06/Css/w3band.css">
    <link rel="stylesheet" href="/Lesson06/font/fontawesome-free-6.4.0-web/css/all.min.css"> 
    <title> W3 BAND </title>
</head>
<body style="background-color: #ccc;" >
        <header id="header">
            <!-- Begin Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">BAND</a></li>
                    <li><a href="#">TOUR</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li>
                        <a href="#">MORE
                            <i class=" nav-icon fa-solid fa-caret-down"></i>
                        </a>
                        <ul class="subnav">
                            <li><a href="#">Merchandise</a></li>
                            <li><a href="#">Extras</a></li>
                            <li><a href="#">Media</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- End Nav -->
        </header>

        <section class="container">

        </section>

        <footer class="footer">

        </footer>
</body>
</html>