*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}
header{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 78px;
    padding: 18px;
    margin: auto;

}
.header_logo-text > a >img{
    border-radius: 4px;
    padding:  4px;
    margin: -6px 8px;
    width: 120px;
    height: 76px;
    float: left;
}
.header_text-menu{
    width: 600px;
    line-height: 34px;

}
.title_level-1
{
    margin-top: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #0e2970;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.title_level-2{
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 4px;
    font-size: 14px;
    margin: -6px;
    color: #6696f4;
    cursor: pointer;
}
.header_phone-icon{
    color: black;
    font-size: 12px;
    padding: 12px;
    margin: 12px 8px;
    animation: ring 1.5s ease infinite;
}

.header_phone-icon:hover {
    color: firebrick;
    height: 20px;

}
#nav_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 100%;
    margin-top: 18px;
    background: #b2b2b2;
    box-shadow: 0px 5px 31px -6px rgba(0,0,0,0.75);
    z-index: 9999999999999;
}
#nav_menu>li{
    padding: 15px;
}
.menu_sub-item{
    position: relative;
}
#nav_menu >li >a{
    color: white;

}
#nav_menu li a{
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;

}
.subnav_menu--item{
    padding: 8px 12px;
}
#nav_menu > li:hover {
    background-color: black;
}
.menu_sub_item:hover >li >a{
    animation-name: showDowm;
    animation-duration: 4s;
}
.menu_sub-item > ul >a {
    display: inline-block;
}
.subnav_menu-1{
    z-index: 2;
    position: absolute;
    top: 100%;
    background-color: #fff;
    left: 0;
    min-width: 300px;
    padding: 8px 0;
    box-shadow: 0px 5px 31px -6px rgba(0,0,0,0.75);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
}
.menu_sub-item:hover .subnav_menu-1{
    display: block;
}
.subnav_menu--item > a{
    color: black;
}
.subnav_menu--item:hover{
    color: black;
    background-color: #e0e0e0;
}

#nav_menu .nav-arrow-icon{
    font-size: 14px;

}
#slider{
    /* display: none; */
    padding-top: 35%;
    height: 500px;
    background: url(/Lesson05/img/devmaster-lap-trinh-asp-net-mvc-5-webapi-angularjs.jpg) top center/ contain no-repeat;

}
.text-header{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 100px;
}
.khoahoc_list{
    display: flex;
    justify-content: center;
    padding: 12px;

    /* margin: 0 200px; */
}
.khoahoc_list img:hover {
    box-shadow: 0px 5px 31px -6px rgba(0,0,0,0.75);
    transform:scale(1) translateY(-5%) ;
}

.khoahoc_item>img{
    width: 90%;
    border-radius: 20px;
    box-shadow: 0px 5px 31px -6px rgba(0,0,0,0.75);
}
@keyframes showDowm {
    0%{
        top: 0%;
    }
    50%{
        top: 50%;
    }
    100%{
        top: 100%;
    }
}
@keyframes ring {
    0%{
        transform: rotate(0);
    } 
    2%{
        transform: rotate(-20deg);
    }
    5%{
        transform: rotate(10deg);

    }
    10%{
        transform: rotate(-20deg);

    }
    20%,100%{
        transform: rotate(0);

    }
    
}