<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>javasrcipt</title>
</head>
<body>
    <header>
        <h1> Javasrcipt cơ bản cho người mới bắt đầu </h1>
    </header>
    
    <section >
        <pre>
            1-Định nghĩa ,Mục đích 
            2-Cách sử dụng(3 cách)
                -Cách 1 :Sử dụng trực tiếp trên element 
                -Cách 2 :Sử dụng trực tiếp trên trang html với nội dung được bao bọc 
                bởi cặp thẻ đóng mở script 
                -Cách 3 :import file có phần mở rộng .js vào file html 
                        dùng thẻ script với thuộc tính khai báo đường dẫn là src 
            
        </pre>
    </section>

    <footer>

    </footer>
    <script src="../js/home.js"></script>
    <!-- <script>;
        alert('Hello Word ')
    </script> -->
</body>
</html>