<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

    </header>

    <section>
        <pre>
            1.Định nghĩa 
            2.Cách sử dụng (3 cách)
            3.Độ ưu tiên trong css : dựa theo selector và hậu tố !important 
            4.Responsive media 
            5.Animotion keyfames
            6.Phân chia các dạng Css 
                -text : font ,color,text 
                -bố cục: display ,positison ,backgroup,...
                -Vị trí top,right,left ,margin ,padding,...
                -..........
            II javasrcipt 
            1-Khái niệm cách sử dụng
            2-Javascript basic : mảng ,biến,đối tượng
                                cấu trúc:  điều kiện ,vòng lặp,..
                                Hàm -function 
            3-Làm quen với việc sử dụng DOM: tương tác với các element 
            4-Làm quen thư viện jquery 



            => Xây dựng được page: - Giao diện hiển thị
                                   - Đầy củ các chức năng client
                                   (Các thư viện slicks ,cra ,...
                                    cache: localStroeage ,cookies ,...)
            
        </pre>
    </section>

    <footer>
        
    </footer>
</body>
</html>