<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Lesson04/CSs/main.css">
    <title>Document</title>
</head>
<body>
    <section >
        <div>
            <img src="https://tse4.mm.bing.net/th?id=OIP.bdI5BP0H5j1J7avp932PLgHaHa&pid=Api&P=0&h=180" alt="">
            <p>mèo con 3</p>
        </div> 
        <div>
            <img src="https://tse4.mm.bing.net/th?id=OIP.bdI5BP0H5j1J7avp932PLgHaHa&pid=Api&P=0&h=180" alt="">
            <p>mèo con 2</p>
        </div>
        <div>
            <img src="https://tse4.mm.bing.net/th?id=OIP.bdI5BP0H5j1J7avp932PLgHaHa&pid=Api&P=0&h=180" alt="">
            <p>Mèo con 1</p>
        </div> 
    </section>
</body>
</html>