<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Lesson04/CSs/menu.css">
    <title> Meunu subnav</title>
</head>
<body style="background-color: #000;">
    
    <nav>
        <ul id="nav">
            <li><a href="#"> Trang Chủ</a></li>
            <li><a href="#">Sản Phẩm</a>
                <ul class="subnav">
                    <li><a href="#">Css3</a></li>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">PHP</a></li>
                </ul>
            </li>
            <li><a href="#">Dịch Vụ</a></li>
            <li><a href="#">Giới Thiệu</a></li>
            <li><a href="#">Liên Hệ</a></li>
        </ul>
    </nav>
</body>
</html>