<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Lesson04/CSs/menu3.css">
    <title>Menu </title>
</head>
<body>
    <div class="clear" id="main ">
        <nav>

            <ul>
                <li ><a href="" class="selected">All</a></li>
                <li><a href="">Animal</a></li>
                <li><a href="">Nature</a></li>
                <li><a href="">Tranh ảnh</a></li>
                <li><a href="">Mountain</a></li>
            </ul>
    </div>
    <section id="list" class="clear">
        <div class="item">
            <img src="https://tse3.mm.bing.net/th?id=OIP.xzUNRgKvLSZZCxBPc5snIQHaE8&pid=Api&P=0&h=180" alt="">
        </div>
        <div class="item">
            <img src="https://tse3.mm.bing.net/th?id=OIP.xzUNRgKvLSZZCxBPc5snIQHaE8&pid=Api&P=0&h=180" alt="">
        </div>
        <div class="item">
            <img src="https://tse3.mm.bing.net/th?id=OIP.xzUNRgKvLSZZCxBPc5snIQHaE8&pid=Api&P=0&h=180" alt="">
        </div>
        <div class="item">
            <img src="https://tse3.mm.bing.net/th?id=OIP.xzUNRgKvLSZZCxBPc5snIQHaE8&pid=Api&P=0&h=180" alt="">
        </div>
        <div class="item">
            <img src="https://tse3.mm.bing.net/th?id=OIP.xzUNRgKvLSZZCxBPc5snIQHaE8&pid=Api&P=0&h=180" alt="">
        </div>
        <div class="item">
            <img src="https://tse3.mm.bing.net/th?id=OIP.xzUNRgKvLSZZCxBPc5snIQHaE8&pid=Api&P=0&h=180" alt="">
        </div>
    </section>
</body>
</html>
 