<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Buổi 1 Về Css </title>
</head>
<style>
    .header{
        background-color: antiquewhite;
        color: red;
        font-size: 20px;
        width: 400px;
        height: 300px;
    }
</style>
<body>
    <header class="header" id="header" >
        <h1>Bắt đầu với Css </h1>
    </header>

    <section>
        <pre>
            1.Lưu ý :độ ưu tiên trong css   
            2.id 
            3.atrr 
            4.class 
            5.Element 
            
        </pre>
    </section>

    <footer>
        
    </footer>
</body>
</html>